.layout-menu-fixed body:not(.modal-open) .layout-navbar-full .layout-navbar {
    z-index: 1050;
}

.boxed-check-group .boxed-check.disabled::before {
    content: 'SOLD';
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(211, 211, 211, .9);
    position: absolute;
    text-align: center;
    line-height: 5.5;
    font-weight: bolder;
    z-index: 1;
}

.grid-custom .card-body {
    position: relative;
}

.grid-custom .disabled::before,
.grid-custom .early-bird-price::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    text-align: center;
    line-height: 5.5;
    font-weight: bolder;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-custom .disabled::before {
    background-color: rgba(211, 211, 211, .4);
    background-image: url('../img/mhx_lay_comingsoon_672x672.png');
}

.grid-custom .early-bird-price::after {
    width: 125px;
    height: 125px;
    background-image: url('../img/mhx_lay_early bird.png');
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
}

@media (max-width:760px)  {
    .grid-custom .disabled::before {
        background-color: rgba(211, 211, 211, .4);
        background-image: url('../img/mhx_lay_comingsoon_398x157.png');
    }

    .grid-custom .early-bird-price::after {
        width: 80px;
        height: 80px;
    }
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.pac-logo {
    z-index:1100;
}

/* OrderTime Timeline Styles */
.ordertime-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ordertime-steps .ordertime-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
}

@media (min-width:768px) {
    .ordertime-steps .ordertime-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #2dc258;
        width: 5rem;
        position: absolute;
        left: 9rem;
        top:2.25rem;
        transform: translateY(-50%);
    }

    .ordertime-steps .ordertime-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #2dc258;
        width: 5rem;
        position: absolute;
        right: 9rem;
        top:2.25rem;
        transform: translateY(-50%);
    }

    .ordertime-steps .ordertime-step.in-progress:not(:last-child):after,
    .ordertime-steps .ordertime-step.in-progress:not(:first-child):before {
        border-color: #bdbdbd;
    }
}

.ordertime-steps .ordertime-content {
    width: 13rem;
    text-align: center;
    position: relative;
}

.ordertime-steps .ordertime-inner-circle {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #2dc258;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.ordertime-steps .ordertime-inner-circle::before {
    content: "";
    background-color: #2dc258;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ordertime-steps .ordertime-step.in-progress .ordertime-inner-circle::before,
.ordertime-steps .ordertime-step.in-progress .ordertime-inner-circle {
    background-color: #bdbdbd;
}
